{# TODO's #}
<div class="bg-stone-700 text-white py-24 px-4">
    <ul class="max-w-screen-xl mx-auto flex flex-wrap gap-4">
        {% set todos = [
            '✅ Breakpoints',
            '✅ Colors: elements',
            '✅ Font sizes',
            '✅ Colors: text',
            '✅ Spacing for section padding and margins (use templates)',
            'Buttons: rounding sizes (and other specs?)',
            'Links: "automatic" icon additions',
            'Icons',
            'Checkboxes',
            'Labels',
            'ISPE logos',
        ] %}
        {% for todo in todos %}
        <li class="bg-stone-500 border border-black p-2 rounded-md">{{ todo }}</li>
        {% endfor %}
    </ul>
</div>

{% include '@partials/colors.twig'       with { gray_background: true,  first: true,  last: false } %}
{% include '@partials/headers.twig'      with { gray_background: false, first: false, last: false } %}
{% include '@partials/text-samples.twig' with { gray_background: true,  first: false, last: true } %}
