{% import '@macros/section.twig' as section %}

{% set partials = [
    'breakpoints',
    'colors',
    'macro-imports',
    'links-button',
    'links-text',
    'checkboxes',
    'labels',
    'headers',
    'text-samples',
] %}

{# Demos #}
{% for partial in partials %}
    {% include '@partials/' ~ partial ~ '.twig' with { gray_background: loop.index0 % 2 == 0,  first: loop.first,  last: loop.last } %}
{% endfor %}

{# Table of contents #}
{#
<div class="sticky bottom-0 flex justify-center gap-4 py-4 text-white bg-blue-950 bg-opacity-10 blur-sm hover:bg-opacity-50 hover:blur-none transition">
    {% for partial in partials %}
        <button class="p-2">{{ partial }}</button>
    {% endfor %}
</div>
#}

{# Breakpoint indicator #}
<div inert class="fixed bottom-12 right-12 bg-white opacity-50 flex flex-col items-center gap-2 p-4 md:p-6 lg:p-8 font-mono border border-black rounded-md">
    <div class="text-xs lg:text-sm">size:</div>
    <div class="h-0 w-8 md:w-10 lg:w-12 opacity-50 border-t border-black"></div>
    <div class="text-xl md:text-2xl lg:text-4xl">
        <span class="sm:hidden">XS</span>
        <span class="hidden sm:max-md:inline">SM</span>
        <span class="hidden md:max-lg:inline">MD</span>
        <span class="hidden lg:max-xl:inline">LG</span>
        <span class="hidden xl:inline">XL</span>
    </div>
</div>
