{# TODO's #}
<div class="bg-stone-700 text-white py-24 px-4">
    <ul class="max-w-content-container-limit mx-auto flex flex-wrap gap-4">
        {% set todos = [
            '✅ Breakpoints',
            '✅ Colors: elements',
            '✅ Font sizes',
            '✅ Colors: text',
            '✅ Spacing for section padding and margins',
            '✅ Button links',
            'Links: "automatic" icon additions',
            'Icons',
            'Checkboxes',
            'Labels',
            'ISPE logos',
        ] %}
        {% for todo in todos %}
        <li class="bg-stone-500 border border-black p-2 rounded-md">{{ todo }}</li>
        {% endfor %}
    </ul>
</div>

{% set partials = [
    'breakpoints',
    'colors',
    'link-buttons',
    'headers',
    'text-samples',
] %}
{% for partial in partials %}
    {% include '@partials/' ~ partial ~ '.twig' with { gray_background: loop.index0 % 2 == 0,  first: loop.first,  last: loop.last } %}
{% endfor %}

{# Breakpoint indicator #}
<div inert class="fixed bottom-12 right-12 bg-white opacity-50 flex flex-col items-center gap-2 p-4 md:p-6 lg:p-8 font-mono border border-black rounded-md">
    <div class="text-xs lg:text-sm">size:</div>
    <div class="h-0 w-8 md:w-10 lg:w-12 opacity-50 border-t border-black"></div>
    <div class="text-xl md:text-2xl lg:text-4xl">
        <span class="sm:hidden">XS</span>
        <span class="hidden sm:max-md:inline">SM</span>
        <span class="hidden md:max-lg:inline">MD</span>
        <span class="hidden lg:max-xl:inline">LG</span>
        <span class="hidden xl:inline">XL</span>
    </div>
</div>
