{# TODO's #}
<div class="space-y-12 mt-24 mx-4">
    <ul class="max-w-screen-md mx-auto bg-stone-200 space-y-8 text-lg p-12 list-disc rounded-lg border-2 border-white">
        <li>✅ Breakpoints</li>
        <li>✅ Colors: elements</li>
        <li>✅ Font sizes</li>
        <li>✅ Colors: text</li>
        <li>Spacing for section padding and margins (use templates)</li>
        <li>Buttons: rounding sizes (and other specs?)</li>
        <li>Links: "automatic" icon additions</li>
        <li>Icons</li>
        <li>Checkboxes</li>
        <li>Labels</li>
        <li>ISPE logos</li>
    </ul>
    <ul class="max-w-screen-md mx-auto bg-stone-200 space-y-8 text-lg p-12 list-disc rounded-lg border-2 border-white">
        <li>Implement templates for all elements</li>
    </ul>
</div>

{# Colors #}
<div class="mt-12 mx-4">
    <div class="flex gap-8 justify-center">
        {% set color_classes = [
            'bg-blue-950',
            'bg-blue-400',
            'bg-blue-800',
            'bg-green-500',
            'bg-cyan-50',
            'bg-gray-50',
        ] %}
        {% for color in color_classes %}
        <div class="{{ color }} h-48 w-48 rounded-full"></div>
        {% endfor %}
    </div>
</div>

{# Headers #}
<div class="bg-blue-950 text-white flex justify-center p-12 mt-12">
    <div class="space-y-6">
        <h1>H1 | This is a very large header</h1>
        <h2>H2 | This is a large header</h2>
        <h3>H3 | This is a medium header</h3>
        <h4>H4 | This is a medium header</h4>
        <h5>H5 | This is a small header</h5>
        <h6>H6 | This is a tiny header</h6>
    </div>
</div>

{# Text #}
<div class="bg-white flex justify-center p-12">
    <div class="max-w-screen-md space-y-12">
        <div class="space-y-2">
            <h3>Paragraph</h3>
            <p>An example paragraph. <a href="https://www.example.com" target="_blank">a link going somewhere</a> lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
        </div>

        <div class="space-y-2">
            <h3>Article</h3>
            <p class="text-article">An example article. <a href="https://www.example.com" target="_blank">a link going somewhere</a> lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
        </div>

        <div class="space-y-2">
            <h3>Widget Text</h3>
            <p class="text-widget">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="space-y-2">
            <h3>Widget Links</h3>
            <p class="text-widget-link">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="space-y-2">
            <h3>Large Links</h3>
            <p class="text-large-link">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="space-y-2">
            <h3>Subtitles</h3>
            <p class="text-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="space-y-2">
            <h3>Details</h3>
            <p class="text-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="space-y-2">
            <h3>Eyebrows</h3>
            <p class="text-eyebrow">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="space-y-2">
            <h3>Impact Text</h3>
            <p class="text-impact">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</div>

{# Sections #}
<div class="mt-12">
    {% include '@partials/section.twig' %}
</div>
