{# TODO's #}
<div class="bg-stone-700 text-white py-24 px-4">
    <ul class="max-w-screen-xl mx-auto flex flex-wrap gap-4">
        {% set todos = [
            '✅ Breakpoints',
            '✅ Colors: elements',
            '✅ Font sizes',
            '✅ Colors: text',
            '✅ Spacing for section padding and margins (use templates)',
            'Buttons: rounding sizes (and other specs?)',
            'Links: "automatic" icon additions',
            'Icons',
            'Checkboxes',
            'Labels',
            'ISPE logos',
        ] %}
        {% for todo in todos %}
        <li class="bg-stone-500 border border-black p-2 rounded-md">{{ todo }}</li>
        {% endfor %}
    </ul>
</div>

{% set partials = [
    'colors',
    'headers',
    'text-samples',
] %}
{% for partial in partials %}
    {% include '@partials/' ~ partial ~ '.twig' with { gray_background: loop.index0 % 2 == 0,  first: loop.first,  last: loop.last } %}
{% endfor %}
