<div class="relative overflow-auto bg-stone-400 max-h-[70vh] mt-[15vh]">
    {# TODO:
        - add pin hover:bounce animation
        - handle pin-overflow-top problem
        - add video player
            - display by default
    #}

    {# aspect ratio: 7x5 #}
    <img src="./assets/map.svg" alt="world map">

    <div class="inert absolute left-0 right-0 top-0 h-[calc(100vw*(5/7))]">
        {% for pin in pins %}
        {# pins are positioned by their point from the bottom-left corner of the container #}
        <img src="./assets/pin.svg" alt="{{ pin.name }}" class="z-10 absolute left-[calc({{ pin.x }}%-22.5px)] bottom-[{{ pin.y }}%] h-16 cursor-pointer">
        {% endfor %}
    </div>

</div>
