<div class="bg-stone-400 max-h-[70vh] mt-[15vh]">
    {# 210 x 150 = 7/5 #}

    {# TODO:
        - add ability to pan
        - add pins
        - add video player
    #}

    <img src="./assets/map.svg" alt="world map" class="object-cover">
</div>
