<div class="h-screen bg-sky-800 text-white text-7xl font-mono flex justify-center items-center">
    <div>One</div>
</div>
<div class="h-screen bg-cyan-700 text-white text-7xl font-mono flex justify-center items-center">
    <div>Two</div>
</div>
<div class="h-screen bg-teal-800 text-white text-7xl font-mono flex justify-center items-center">
    <div>Three</div>
</div>
