{% macro title_with_classes(title, element, classes) %}
    <div class="flex gap-2">
        <h3>{{ title }}</h3>
        <button x-data @click="() => navigator.clipboard.writeText('{{ classes }}')"
            class="font-mono text-xs py-1.5 px-4 rounded w-fit border border-gray-200 text-gray-900 bg-gray-100 hover:bg-gray-200 active:bg-gray-300"
        >
            {{ '&lt;' ~ element ~ ' class="' ~ classes ~ '"&gt;' }}
        </button>
    </div>
{% endmacro %}
