{# "Local" macros for production code #}

{% macro testimonial(quote = '', source_line_1 = '', source_line_2 = '') %}
    {# TODO: Implement responsive behavior according to @container width #}
    <div class="relative flex justify-center items-center bg-blue-800 px-8 md:px-11 h-86">
        <div class="relative pl-19">
            <div class="absolute -top-20 -left-4 text-super text-green-500">“</div>
            <div class="text-white text-2xl font-bold">{{ quote }}</div>
        </div>
        <div class="absolute bottom-8 right-24 flex flex-col text-blue-400 font-semibold leading-snug">
            <div>{{ source_line_1 }}</div>
            <div>{{ source_line_2 }}</div>
        </div>
    </div>
{% endmacro %}
