{% macro start(background_class = '') %}
    <div class="{{ background_class }}">
        <div class="max-w-screen-xl mx-auto">
{% endmacro %}

{% macro end() %}
        </div>
    </div>
{% endmacro %}
