{% macro start(gray_background, first, last) %}
    {% set background = gray_background ? 'bg-gray-50' : 'bg-white' %}

    {% set padding = '' %}
    {% set margin_top = '' %}
    {% set margin_bottom = '' %}

    {% if gray_background %}
        {% if not first %}
            {% set margin_top = 'mt-8.75' %}
        {% endif %}
        {% if not last %}
            {% set margin_bottom = 'mb-8.75' %}
        {% endif %}

        {% set padding = 'py-17.5' %}
    {% else %}
        {% set padding = 'py-8.75' %}
    {% endif %}

    <div class="{{ background }} {{ padding }} {{ margin_top }} {{ margin_bottom }}">
        <div class="max-w-screen-xl mx-auto">
{% endmacro %}

{% macro end() %}
        </div>
    </div>
{% endmacro %}
