{# top-level macros #}
{% macro start() %}
    <div>
        <div class="
            max-w-content-container-limit mx-auto
            md:px-content-container
            grid
            max-md:grid-flow-row
            md:grid-cols-[17rem_1fr]
            md:gap-16
        ">
{% endmacro %}

{% macro end() %}
        </div>
    </div>
{% endmacro %}
{# [END] top-level macros #}

{# left-channel macros #}
{% macro left_channel_start() %}
    <div>
{% endmacro %}

{% macro left_channel_end() %}
    </div>
{% endmacro %}
{# [END] left-channel macros #}

{# main-content macros #}
{% macro main_content_start() %}
    <div class="max-md:px-content-container">
{% endmacro %}

{% macro main_content_end() %}
    </div>
{% endmacro %}
{# [END] main-content macros #}
