{% from '@macros/components-global.twig' import label %}
{% from '@macros/components-local.twig' import article_header %}

<div class="mb-12 xl:mb-24">
    {% include '@localPartials/component-title.twig' with { text: '3.6 News Header (Articles)' } only %}
</div>
<div>
    {{ article_header('News', 'Max of Sixty Character Header Article Title Goes Here', '13 July, 2023', './assets/yosemite.png', 'people smiling while playing golf') }}
</div>
