{% from '@macros/components-local.twig' import featured_content %}
{% from '@macros/components-global.twig' import link_button %}

<div class="xl:mb-12">
    {% include '@localPartials/component-title.twig' with { text: '4.1 Featured Content with Button Link' } only %}
</div>
{{ featured_content('ISPE Knowledge Without Borders makes pharmaceutical manufacturing best practices available to new and emerging markets, helping to implement processes in line with regulatory requirements that deliver better outcomes.
Donate Now', 'https://www.example.com') }}
