{% from '@macros/components-local.twig' import featured_content %}
{% from '@macros/components-global.twig' import link_button %}

<div>
    {% include '@localPartials/component-title.twig' with { text: '4.1 Featured Content with Button Link' } only %}
</div>
<div class="max-w-content-container-limit py-12 px-content-container mx-auto">
    {{ featured_content('ISPE Knowledge Without Borders makes pharmaceutical manufacturing best practices available to new and emerging markets, helping to implement processes in line with regulatory requirements that deliver better outcomes.', 'https://www.example.com') }}
</div>
