{% from '@macros/components-local.twig' import hero_1 %}
{% import '@macros/section.twig' as section %}

<div class="xl:mb-12">
    {% include '@localPartials/component-title.twig' with { text: '4.1 Hero #1' } only %}
</div>
{{ hero_1('Scholarships & Grants', 'We award scholarships and grants to the next generation of professionals.', 'Philanthropic Pillar', 'alt text goes here', 'alt text goes here', 'alt text goes here') }}
