{% from '@macros/components-local.twig' import counter %}
{% import '@macros/section-simple.twig' as section_simple %}

{% set textGroups = [
    { target: 641, prefix: '',  postfix: '+', label: 'Number of Grants' },
    { target: 75,  prefix: '$', postfix: 'k', label: 'Charitable Support' },
    { target: 500, prefix: '',  postfix: '+', label: 'Grantees' },
    { target: 14,  prefix: '',  postfix: '+', label: 'Initiatives & Campaigns' },
] %}

<div>
    {% include '@localPartials/component-title.twig' with { text: '4.12 Counter' } only %}
</div>
{{ section_simple.start('bg-blue-400') }}
    {{ counter(textGroups) }}
{{ section_simple.end() }}
