{% from '@macros/components-local.twig' import text_plus_image %}

<div>
    {% include '@localPartials/component-title.twig' with { text: '4.13 Text + Image' } only %}
</div>
{{ text_plus_image(
    'How We Make A Difference',
    [
        {
            title: 'Clear Concise Header',
            description: 'Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit quaerendum.'
        },
        {
            title: 'Clear Concise Header',
            description: 'At nam minimum ponderum. Est audiam animal molestiae te. Ex duo eripuit mentitum.'
        },
        {
            title: 'Clear Concise Header',
            description: 'Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit quaerendum.'
        },
        {
            title: 'Clear Concise Header',
            description: 'At nam minimum ponderum. Est audiam animal molestiae te. Ex duo eripuit mentitum.'
        },
    ],
    './assets/content-1996-1249.png',
    ''
) }}
