{% from '@macros/components-local.twig' import image_gallery %}

<div>
    {% include '@localPartials/component-title.twig' with { text: '4.20 Image Gallery' } only %}
</div>
<div class="space-y-16">
    {% for number_of_images in 1..5 %}
        {{ image_gallery(number_of_images) }}
    {% endfor %}
</div>

{# TODO: Remove after development #}
<div class="mt-[80vh]"></div>
