{% from '@macros/components-local.twig' import testimonial %}
{% import '@macros/section.twig' as section %}

<div>
    {% include '@localPartials/component-title.twig' with { text: '4.4 Testimonial' } only %}
</div>
{{ section.start(gray_background, first, last, '') }}
    {{ testimonial('Est tation latine aliquip id, mea ad tale illud definitiones. Periculis omittantur necessitatibus eum ad, pro eripuit minimum comprehensam ne, usu cu stet prompta reformidans.', 'Companyname', 'Founder & CEO') }}
{{ section.end() }}
