{% from '@macros/components-local.twig' import cta_left_text %}
{% import '@macros/section-simple.twig' as section %}

<div>
    {% include '@localPartials/component-title.twig' with { text: '4.6 CTA Left Text' } only %}
</div>
{{ section.start() }}
{# 'Issuance of the 2023 ISPE Biotechnology Conference Student and Recent Graduate Attendance Grants is consistent with the ISPE Foundation’s mission to fuel global health equity by fostering access to knowledge and nurturing diverse talent. Issuance of the 2023 ISPE Biotechnology Conference Student and Recent Graduate Attendance Grants is consistent with the ISPE Foundation’s mission to fuel global health equity by fostering access to knowledge and nurturing diverse talent. Issuance of the 2023 ISPE Biotechnology Conference Student and Recent Graduate Attendance Grants is consistent with the ISPE Foundation’s mission to fuel global health equity by fostering access to knowledge and nurturing diverse talent. ', #}
    {{ cta_left_text(
        'Our Commitment to Investing in Emerging Leaders',
        'Issuance of the 2023 ISPE Biotechnology Conference Student and Recent Graduate Attendance Grants is consistent with the ISPE Foundation’s mission to fuel global health equity by fostering access to knowledge and nurturing diverse talent.',
        'https://www.example.com',
        'Other Student Opportunities',
        'https://www.example.com',
        'Scholarships & Grants Initiative',
        './assets/content-1500-840-1.png',
        ''
    ) }}
{{ section.end() }}
