{% from '@macros/components-local.twig' import homepage_header_with_pillars %}

<div>
    {% include '@localPartials/component-title.twig' with { text: '5.1 Homepage Header with Philanthropic Pillars' } only %}
</div>
{{ homepage_header_with_pillars(
    'We change lives, globally',
    'With the  support of our donors, the Foundation champions programs that create opportunity, diversity, and success within the global pharmaceutical industry.',
    'Impact',
    'Our Philanthropic Pillars',
    [
        {
            title: 'ISPE Knowledge Without Borders',
            icon: 'globe-book-shiny',
            url: 'https://www.example.com',
            description: 'Description will display here.',
        },
        {
            title: 'Scholarships & Grants',
            icon: 'scholar-book-stars',
            url: 'https://www.example.com',
            description: 'Description will display here.',
        },
        {
            title: 'Workforce Diversity',
            icon: 'people-shiny',
            url: 'https://www.example.com',
            description: 'Provides equitable and inclusive opportunities to marginalized communities pursuing pharmaceutical industry careers.',
        },
        {
            title: 'Greatest Needs',
            icon: 'hand-globe-wire',
            url: 'https://www.example.com',
            description: 'Description will display here.',
        },
    ]
) }}
