{% from '@macros/components-local.twig' import homepage_map %}

<div>
    {% include '@localPartials/component-title.twig' with { text: '5.4 Homepage Map' } only %}
</div>
{{ homepage_map(
    [
        {
            "name": "Bosnia and Herzegovina",
            "x": 53,
            "y": 63,
            "videoID": "0WyPAD86Cqw"
        },
        {
            "name": "County Cork, Ireland",
            "x": 45.5,
            "y": 68.7,
            "videoID": "WPho8vdfwGQ"
        },
        {
            "name": "Dublin, Ireland",
            "x": 47,
            "y": 72,
            "videoID": "ObND2j7_8e8"
        },
        {
            "name": "Boston, Massachusetts",
            "x": 29,
            "y": 61.5,
            "videoID": "TSm-JPkvD-k"
        }
    ]
) }}

{# TODO: Remove after development #}
<div class="pt-[60vh] bg-gray-300"></div>
