{% from '@macros/components-local.twig' import homepage_map %}

<div>
    {% include '@localPartials/component-title.twig' with { text: '5.4 Homepage Map' } only %}
</div>
{{ homepage_map(
    [
        {
            "name": "Top",
            "x": 85.8,
            "y": 97,
            "videoID": "I1rA68yF4tM"
        },
        {
            "name": "Los Angeles",
            "x": 15.8,
            "y": 60,
            "videoID": "I1rA68yF4tM"
        },
        {
            "name": "Boston",
            "x": 31,
            "y": 63.5,
            "videoID": "E__X8IDR6a0"
        },
        {
            "name": "Ireland",
            "x": 45.8,
            "y": 70,
            "videoID": "Ec6i45d74nk"
        },
        {
            "name": "London",
            "x": 48,
            "y": 69.5,
            "videoID": "Rd0HnxWm5CY"
        },
        {
            "name": "Dubai",
            "x": 62.7,
            "y": 50.6,
            "videoID": "xWDIwsfgQnE"
        },
        {
            "name": "Japan",
            "x": 85,
            "y": 59,
            "videoID": "hbEWdw8"
        }
    ]
) }}

{# TODO: Remove after development #}
<div class="pt-[60vh] bg-gray-300"></div>
