{% import '@macros/section.twig' as section %}

{% include '@localPartials/component-title.twig' with { text: '3.3 Left Nav' } only %}
{{ section.start(gray_background, first, last, 'flex flex-col gap-4') }}
    <div>( content )</div>
{{ section.end() }}
