<svg width="31" height="20" viewBox="0 0 31 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <title>{{ alt_text }}</title>
    <path d="M0.427734 2.08646C0.427734 1.20031 1.38489 0.484375 2.56962 0.484375H28.2722C29.4569 0.484375 30.4141 1.20031 30.4141 2.08646C30.4141 2.97261 29.4569 3.68854 28.2722 3.68854H2.56962C1.38489 3.68854 0.427734 2.97261 0.427734 2.08646ZM0.427734 10.0969C0.427734 9.21072 1.38489 8.49479 2.56962 8.49479H28.2722C29.4569 8.49479 30.4141 9.21072 30.4141 10.0969C30.4141 10.983 29.4569 11.699 28.2722 11.699H2.56962C1.38489 11.699 0.427734 10.983 0.427734 10.0969ZM30.4141 18.1073C30.4141 18.9934 29.4569 19.7094 28.2722 19.7094H2.56962C1.38489 19.7094 0.427734 18.9934 0.427734 18.1073C0.427734 17.2211 1.38489 16.5052 2.56962 16.5052H28.2722C29.4569 16.5052 30.4141 17.2211 30.4141 18.1073Z" fill="#001B3F"/>
</svg>
