<svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <title>{{ alt_text }}</title>
    <path d="M0.117385 8.09664C0.117385 8.352 0.214886 8.60732 0.409477 8.80201L6.53594 14.9284C6.92566 15.3181 7.55753 15.3181 7.94709 14.9284C8.33665 14.5389 8.33665 13.9071 7.94709 13.5174L2.52605 8.09664L7.9469 2.67589C8.33646 2.28617 8.33646 1.6545 7.9469 1.26497C7.55734 0.875057 6.92547 0.875057 6.53575 1.26497L0.409288 7.39127C0.214664 7.58606 0.117385 7.84138 0.117385 8.09664Z" fill="#0052A5"/>
</svg>
