{% import '@macros/code.twig' as code %}
{% import '@macros/section.twig' as section %}

{{ section.start(gray_background, first, last, 'flex flex-col gap-4') }}
    <h3>Macro imports</h3>
    {{ code.simple("{% from '@macros/components-global.twig' import checkbox, label, link_button, link_block, link_inline %}") }}
{{ section.end() }}
