{% from '@macros/production.twig' import label %}
{% import '@macros/section.twig' as section %}

{{ section.start(gray_background, first, last) }}
    <h2>Animations</h2>
    <div class="w-64 flex flex-col mt-8">
        {% set items = [
            'Apples',
            'Bananas',
            'Cashews',
            'Spinach',
            'Zucchini',
        ] %}
        {% for item in items %}
            {% set delay = (loop.index0 * 150) ~ 'ms' %}
            <h5 class="py-6 border-b-2 opacity-0 animate-fade-in-right [animation-delay:{{delay}}]">{{ item }}</h5>
        {% endfor %}
    </div>
{{ section.end() }}
