{% from '@macros/production.twig' import label %}
{% import '@macros/section.twig' as section %}

{% set items = [
    'Apples',
    'Bananas',
    'Cashews',
    'Spinach',
    'Zucchini',
] %}

{# Reference:
    https://www.experian.com/corporate/experian-corporate-social-responsibility/
 #}

{{ section.start(gray_background, first, last) }}
    <h2>Animations</h2>
    <div class="w-64 flex flex-col mt-12">
        {% for item in items %}
            {% set delay = (loop.index0 * 150) ~ 'ms' %}
            <h5
                x-data="{ visible: false }"
                x-intersect.once="visible = true"
                x-intersect:leave="visible = false"
                :class="visible ? 'animate-fade-in-right' : ''"
                class="opacity-0 [animation-delay:{{delay}}] py-6 border-b-2"
            >
                {{ item }}
            </h5>
        {% endfor %}
    </div>
{{ section.end() }}
