{% set breakpoints = [
    { tag: 'content-limit (accounting for 3rem of padding)', width: '1248px', width_class: 'w-[1248px]', max_width_class: 'max-w-content-limit' },
    { tag: 'xl', width: '1200px', width_class: 'w-[1200px]', max_width_class: 'max-w-screen-xl' },
    { tag: 'lg', width: '991px', width_class: 'w-[991px]', max_width_class: 'max-w-screen-lg' },
    { tag: 'md', width: '768px', width_class: 'w-[768px]', max_width_class: 'max-w-screen-md' },
    { tag: 'sm', width: '374px', width_class: 'w-[374px]', max_width_class: 'max-w-screen-sm' },
] %}

<div x-data class="bg-blue-950 py-17.5 mb-8.75 flex flex-col items-center gap-6 overflow-x-auto">
	{% for breakpoint in breakpoints %}
        <button
            @click="() => navigator.clipboard.writeText('{{ breakpoint.max_width_class }}')"
            class="{{ breakpoint.width_class }} flex flex-col items-center gap-2 py-3 px-12 rounded font-mono text-white bg-blue-400 bg-opacity-50 hover:bg-opacity-80 active:bg-opacity-100"
        >
            <span class="text-2xl">{{ breakpoint.tag }}</span>
            <span class="opacity-80">{{ breakpoint.width }}</span>
        </button>
	{% endfor %}
</div>
