<svg width="8" height="9" viewbox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
    <title>{{ alt_text }}</title>
	<g clip-path="url(#clip0_675_26598)">
		<path d="M7.0364 4.45409C7.0364 4.58686 6.9857 4.71961 6.88453 4.82084L3.69911 8.00623C3.49647 8.20886 3.16794 8.20886 2.96539 8.00623C2.76284 7.80368 2.76284 7.47521 2.96539 7.27256L5.78403 4.45409L2.96549 1.6356C2.76294 1.43297 2.76294 1.10453 2.96549 0.901999C3.16804 0.699269 3.49657 0.699269 3.6992 0.901999L6.88462 4.08734C6.98582 4.18861 7.0364 4.32137 7.0364 4.45409Z" fill="#0052A5"/>
	</g>
	<defs>
		<clipPath id="clip0_675_26598">
			<rect width="7.40827" height="7.40827" fill="white" transform="matrix(0 -1 1 0 0.220703 8.1582)"/>
		</clipPath>
	</defs>
</svg>
