{% import '@macros/section.twig' as section %}

{{ section.start(gray_background) }}
<div class="space-y-12">
    <div class="space-y-2">
        <h3>Paragraph</h3>
        <p>An example paragraph. <a href="https://www.example.com" target="_blank">a link going somewhere</a> lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
    </div>

    <div class="space-y-2">
        <h3>Article</h3>
        <p class="text-article">An example article. <a href="https://www.example.com" target="_blank">a link going somewhere</a> lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
    </div>

    <div class="space-y-2">
        <h3>Widget Text</h3>
        <p class="text-widget">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="space-y-2">
        <h3>Widget Links</h3>
        <p class="text-widget-link">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="space-y-2">
        <h3>Large Links</h3>
        <p class="text-large-link">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="space-y-2">
        <h3>Subtitles</h3>
        <p class="text-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="space-y-2">
        <h3>Details</h3>
        <p class="text-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="space-y-2">
        <h3>Eyebrows</h3>
        <p class="text-eyebrow">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="space-y-2">
        <h3>Impact Text</h3>
        <p class="text-impact">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
</div>
{{ section.end() }}
