<svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <title>{{ alt_text }}</title>
    <path d="M20.846 2.81618L18.7485 0.757812L10.4328 8.91831L2.11706 0.757812L0.0195312 2.81618L8.33526 10.9767L0.0195312 19.1372L2.11706 21.1956L10.4328 13.0351L18.7485 21.1956L20.846 19.1372L12.5303 10.9767L20.846 2.81618Z" fill="black"/>
</svg>
